@import "tailwindcss";

:root {
  /* Vantablack-ish */
  --background: #030303;
  --foreground: #e0e0e0;

  /* Cyberpunk Palette */
  --color-neon-cyan: #00f3ff;
  --color-neon-magenta: #ff00ff;
  --color-acid-yellow: #eaff00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-cyber-cyan: var(--color-neon-cyan);
  --color-cyber-magenta: var(--color-neon-magenta);
  --color-cyber-yellow: var(--color-acid-yellow);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono);
  overflow: hidden; /* Immersive 3D view */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
